<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wassali"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LivBenevole.AfficherLivraisonBenevole"
            android:parentActivityName=".LivBenevole.MeslivraisonsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:theme="@style/Theme.Wassali">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".LogIn"
            android:exported="true"
            android:theme="@style/Theme.Wassali">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Chemins.RechercheActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CompteActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Chemins.MesdemandesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LivClient.SuiviMesLivraisonActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Chemins.DeclarerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Chemins.MescheminsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DmLivBenevole.DemandelivraisonActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LivBenevole.MeslivraisonsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DmLivClient.AfficherDemandeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Chemins.MesdemandesActivity" />
        <activity
            android:name=".LivClient.AfficherLivraison"
            android:label="@string/app_name"
            android:parentActivityName=".LivBenevole.MeslivraisonsActivity" />
        <activity
            android:name=".DmLivBenevole.AfficherDemandeBenevole"
            android:label="@string/app_name"
            android:parentActivityName=".DmLivBenevole.DemandelivraisonActivity" />
        <activity
            android:name=".Chemins.MesRecherchesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Chemins.RechercheActivity" />
        <activity
            android:name=".Chemins.AfficherRechercheActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".DmLivClient.EtabliDemandeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Chemins.AfficherRechercheActivity" />
        <activity
            android:name=".Chemins.AfficherCheminActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Chemins.MescheminsActivity" />
        <activity
            android:name=".LivBenevole.AfficherLivraisonBenActivity"
            android:label="@string/app_name"
            android:parentActivityName=".LivBenevole.MeslivraisonsActivity" />
    </application>

</manifest>